body {
	color:#FF0033;
}

.bgimage {
	background-image:url(../images/skyline.jpg);
	background-position:center;
	background-size:cover;
	height:400px;
}
	
.icon {
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

.services section {
  text-align: center;
}
	
@media(min-width: 1200px) {
	.content h1 {
		font-size: 54px;}
	.content section h1 {
		font-size: 40px;}
	p {
		font-size: 20px;}
	.content section {
		text-align: center;}}
	
	/*for button links*/
	.content section .btn {
		font-size: 18px;
	    padding: 10px 20px;
	    background-color: #d77a61;
	    color: #eff1f3;
	    border-radius: .5em;
	    transition: .2s;
	 }
	.content section .btn:hover, .btn:focus {
	    border: 1px solid #333;
	    background-color: #FFF;
	    color: darkblue;
	}
	/*dropdown css*/
	.content section .accordion {
	    background-color:#d77a61;
	    color:#dbd3d8;
	    cursor:pointer;
	    padding:15px;
	    width:100%;
	    border:none;
	    text-align:left;
	    outline:none;
	    font-size:20px;
	    transition:0.4s;
		font-family:Arial, Helvetica, sans-serif;}
	.content section .accordion:hover {
	    background-color: #dbd3d8;
		color:#d77a61;}
	.content section .accordion:active {
	    background-color:#29292c;
		color:#223843;}
	.content section .panel {
	    padding: 0 18px;
	    display:block;
	    background-color:#f1f1f1;
	    max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.2s ease-out;}
	.content section .panel li {
		font-family:Lato, sans-serif;
		font-size:18px;}
	.content section .panel h2 {
		font-family:Lato, sans-serif;
		color:#000;
		font-size:25px;}
	.content section .panel p {
		font-family:400 19px/1.5 Lato, sans-serif;
		color:#000;
		font-size:18px;}
	.content section .container-fluid {
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	}
	/*end dropdown css*/

/* Nav bar */
.nav {
	font-size: 35px;
	margin-top: 50px;
	color: black;
	background-color: #d77a61;
}
/* Text */
.nav-item a {
	color: #dbd3d8;
}
/* Text when hovering */
.nav-item a:hover {
	color: #d77a61;
}
/* Text When Clicked */
.nav-item a:active {
	color: #223843;
}

footer {
    background-color: #d77a61;
    color: #f5f5f5;
    padding: 32px;
    margin-top: 50px;
}
footer p {
	font-size: 10px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
